<!-- <div class="card" style="width: 18rem;">

    <div class="card-body">
        <h3 class="card-title">View Employee Leave Details</h3>
        <div>
            <label class="lbl"><b>Full Name:</b></label>{{employee.fullname}}
        </div>
        <div>
            <label class="lbl"><b>Leave Date:</b></label>{{employee.leavedate}}
        </div>
        <div>
            <label class="lbl"><b>Leave Type:</b></label>{{employee.leavetype}}
        </div>
        <div>
            <label class="lbl"><b>Leave for Reason:</b></label>{{employee.reason}}
        </div>
    </div>
</div> -->
<div class="card">
    <div class="card-header">
        View Employee Leave Details
    </div>
    <div class="card-body">
        <!-- <h5 class="card-title">{{employee.fullname}} Details</h5> -->

        <p class="card-text">
            <label class="lbl"><b>Full Name:</b></label>{{employee.fullname}}
        </p>
        <p class="card-text">
            <label class="lbl"><b>Leave Date:</b></label>{{employee.leavedate}}
        </p>
        <p class="card-text">
            <label class="lbl"><b>Leave Type:</b></label>{{employee.leavetype}}
        </p>
        <p class="card-text">
            <label class="lbl"><b>Leave for Reason:</b></label>{{employee.reason}}
        </p>

    </div>
</div>